<!doctype html>
<html lang="en">
  <head>

    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Home page">
    <title>Adrian Morales</title>   

    <!-- Bootstrap core CSS -->
    <link href="{% static 'AdrianMoralesApp/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'AdrianMoralesApp/css/custom.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">

          <!-- Nav bar -->
          <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="{% url 'Home' %}">Adrian Morales</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.path == '/AdrianMoralesApp/' %}active{% endif %}">
                  <a class="nav-link" href="{% url 'Home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if request.path == '/projects/' %}active{% endif %}">
                  <a class="nav-link" href="{% url 'Projects' %}">Projects</a>
                </li>
                <li class="nav-item {% if request.path == '/blog/' %}active{% endif %}">
                  <a class="nav-link" href="{% url 'Blog' %}">Blog</a>  
                </li>
                <li class="nav-item {% if request.path == '/AdrianMoralesApp/contact' %}active{% endif %}">
                  <a class="nav-link" href="{% url 'Contact' %}">Contact</a>
                </li>
              </ul>
              <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
        </div>
      </header>

      <!-- Changing content -->
      {% block content %}

      {% endblock %}

      <!-- Footer -->
      <footer class="footer mt-auto py-3">
        <div class="container">
          <span class="text-muted">Adrian Morales, 2020. All rights reserved</span>
        </div>
      </footer>
    </div>
  </body>
</html>
  