{% extends "AdrianMoralesApp/base.html" %}

{% load static %}

{% block content %}

  <link href="{% static 'AdrianMoralesApp/css/home.css' %}" rel="stylesheet">

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Adrian Morales</h1>
    <p class="lead">The goal of this site is to group my programming projects.<br>
                    In the <i>projects</i> tab you can see an overview of my finished projects<br> but, if you want, you can visit my github site for more details.<br>
                    In the <i>about</i> tab you will find all about me and my hobbies.<br>
                    Finally, in the <i>contact</i> tab you can send me all your questions.<br>
                    Thanks for visiting.</p>
    <img src="/media/home/images/Adrian.jpg" alt="Adrian photo"></img>
  </main>

{% endblock %}
